.App {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

input {
  border: 1px solid #999999;
  border-radius: 10px;
  min-width: 250px;
  margin-right: 12px;
  background-color: transparent;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
}

button {
  border: 1px solid #999999;
  border-radius: 10px;
  margin-right: 12px;
  background-color: #2D333B;
  font-size: 18px;
  padding: 10px;
  color: #FFFFFF;
  cursor: pointer;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.profile img {
  width: 250px;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid #ffffff;
}

.info {
  margin: 12px;
  color: #ffffff;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 10px;
}

a + p {
  margin-top: 15px;
}

.repositories {
  display: flex;
  flex-direction: column;
  margin: 22px;
  justify-content: center;
  color: #FFFFFF;
}
